.project-card {
    width: 300px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    background: var(--card-bg);
    color: var(--text-color);
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
    position: relative;
  }  
  
  .project-card:hover {
    transform: translateY(-6px);
  }
  
  .project-card .thumb {
    height: 150px;
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
  }  
  
   .project-card .info {
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--card-bg);
    padding: 1.2rem;
    transform: translateY(110px);
    transition: transform .5s ease;
  }
  
  .project-card h3 {
    margin: 0 0 .4rem;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
 .project-card:hover .thumb {
  transform: translateY(-260px);
}

.project-card:hover .info {
  transform: translateY(0);
}

.projects-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  color: var(--text-color);
}

.project-card h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 16px;
}

.project-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}