---
import Page from '../components/Pages.jsx';
import "../styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <titlev>My Portfolio</title>
  </head>
  <body>
    <Page client:load />
    <div>Descricao</div>
    <div>Projetos</div>
    <div>Sobre mim além da programação </div>
    <div>Links de contato </div>
  </body>
</html>

