---
import Page from '../components/Pages.jsx';
import "../styles/global.css"
---

<html lang="en">
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8" />
    <!-- <titlev>My Portfolio</title> -->
  </head>
  <body>
    <Page client:load />
  </body>
</html>

