---
import "../styles/hero.css";

const { t } = Astro.props;
---

<section id="home" class="hero">

  <div class="hero-content">
    <h1 data-animate="fade-down">{t.hello}</h1>
    <p data-animate="fade-up" data-delay="200">{t.presentation}</p>

    <a
      href="https://github.com/yanvic"
      target="_blank"
      rel="noopener noreferrer"
      class="button-hero"
      data-animate="zoom-in"
      data-delay="400"
    >
      <span>{t.button_projects}</span>
    </a>
  </div>
</section>

